<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${user.fullname} + '\'s micro blog'">All Posts</title>
</head>
<body>
  
  <h1 th:text="${author.fullname} + '\'s micro blog'">All Posts</h1>
  <ul th:each="post : ${posts}">
    <div>
      <a th:href="@{/post/{id}(id=${post.id})}"><strong th:text="${post.title}"></strong></a><br>
      <!-- <p th:text="${post.content}"></p><br> -->
      <!-- <p th:text="${post.lastUpdate}"></p><br><br> -->
    </div>
  </ul>
  <!-- <a th:if="${user.id == post.author.id}" href="/post/new">Write new post</a> -->
  <a href="/logout">Logout</a>
  <a th:href="@{/posts}" th:text="'Back to ' + ${author.fullname} + '\'s micro blog'">Back</a>
  <!-- <hr> -->
  <!-- <div th:each="other : ${others}"> -->
    <!-- <a th:href="@{/{userId}/other/{authorId}(userId=${user.id}, authorId=${other.id})}" th:text="${other.fullname} + '\'s micro blog'">Other's posts</a> -->
    <!-- <a th:href="@{/other/{authorId}(authorId=${other.id})}" th:text="${other.fullname} + '\'s micro blog'">Other's posts</a> -->
  </div>
</body>
</html>