<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${user.fullname} + '\'s micro blog'">Write New Post</title>
</head>

<body>

    <h1 th:text="${author.fullname} + '\'s micro blog'">All Posts</h1>
    <div style="display:inline;">
        <a th:if="${user.id == author.id}" href="/post/new">Write new post</a>&nbsp;
        <a th:unless="${user.id == author.id}"th:href="@{/posts}" th:text="'Back to ' + ${user.fullname} + '\'s micro blog'">Back</a>&nbsp;
        <a th:if="${user.id == author.id}" href="/logout">Logout</a>
    </div>
    <div>
        <h2 th:text="${post.title}"></h2>
        <div style="display:inline;">
            <p th:text="${#temporals.format(post.lastUpdate, 'dd-MM-yyyy HH:mm')}"></p>
            <a th:if="${user.id == post.author.id}" th:href="@{/post/edit/{id}(id=${post.id})}">Edit</a>&nbsp;
            <a th:if="${user.id == post.author.id}" th:href="@{/post/delete/{id}(id=${post.id})}">Delete</a><br>
        </div>
        <p th:text="${post.content}"></p><br>
    </div>
    <div>
        <hr>
        <label for="comment"><strong>Comment</strong></label><br>
        <ul th:each="comment : ${comments}">
            <li>
                <p th:text="${comment.commenter.fullname} + ' comments at ' + ${#temporals.format(comment.lastUpdate, 'dd-MM-yyyy HH:mm')}"></p>
                <a th:if="${user.id == comment.commenter.id}" th:href="@{/comment/remove/{id}(id=${comment.id})}">Remove</a>
                <p th:text="${comment.content}"></p>
            </li>
        </ul>
        <a th:href="@{/comment/new/{id}(id=${post.id})}">Add Comment</a>
    </div>

</body>


</html>